@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./animations.css";

html {
	overflow-y: scroll;
}

html,
body,
#root,
.layout {
	@apply w-full min-h-screen font-serif;
}

.inset-shadow {
	box-shadow: 0 2px 3px #fff, 0 -2px 2px #666,
		inset 0 -2px 2px rgba(0, 0, 0, 0.5),
		inset 0 2px 2px rgba(255, 255, 255, 0.8);
}

.glow {
	box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.8);
}

.text-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-glow {
	text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.65);
}
